<footer>

	<div class="footer">

		<!-- Sign -->
		<p class="sign">Made with <i class="fas fa-heart"></i> by Sebastian Braga.</p>

		<!-- List -->
		<div class="social-media">
			<ul class="list" type="none">
				<li><a href="https://www.linkedin.com/in/sbragamendez/" target="_blank"><i class="fab fa-linkedin fa-xl"></i></a></li>
				<li><a href="https://github.com/sebastianbragam" target="_blank"><i class="fab fa-github fa-xl"></i></a></li>
				<li><a href="https://www.instagram.com/sebastianbragam/" target="_blank"><i class="fab fa-instagram fa-xl"></i></a></li>
			</ul>
		</div>

	</div>

	<div class="back-to-top">

	</div>

</footer>