<footer>

	<div class="footer">

		<section class="navigation">
			<!-- Navigation -->
			<h4 class="footer-title">Navigation</h4>
			<!-- Lista -->
			<ul class="nav-menu" type="none">
				<li><a href="../#">About me</a></li>
				<li><a href="../#">Experience</a></li>
				<li><a href="../#">Contact</a></li>
			</ul>
		</section>

		<section class="social-media">
			<!-- Redes sociales -->
			<h4 class="footer-title">Social media</h4>
			<!-- Lista -->
			<ul class="list" type="none">
				<li><a href="#"><i class="fab fa-linkedin"></i> sbragamendez</a></li>
				<li><a href="#"><i class="fab fa-github"></i> sbragamendez</a></li>
			</ul>
		</section>

	</div>

</footer>