<header>

	<!-- Top bar -->
	<div class="top-header">

		<!-- Logo -->
		<a class="name" href="/">Sebastian Braga</a>

		<!-- Menu -->
		<div class="navbar">
			<ul class="nav-menu" type="none">
				<li><a href="../#about-me">About me</a></li>
				<li><a href="../#experience">Experience</a></li>
				<li><a href="../#contact">Contact</a></li>
			</ul>
		</div>

	</div>

</header>