<header>

	<!-- Top bar -->
	<div class="top-header">

		<!-- Logo -->
		<p>Sebastian Braga</p>

		<!-- Menu -->
		<nav class="navbar">
			<ul class="nav-menu" type="none">
				<li><a href="../#">About me</a></li>
				<li><a href="../#">Experience</a></li>
				<li><a href="../#">Contact</a></li>
			</ul>
		</nav>

	</div>

</header>