<!-- Sidemenu -->
<div class="side-menu covered" id="side-menu">

    <a class="close" onclick="hideSidemenu()"><i class="fa-solid fa-xmark"></i></a>

    <ul class="nav-menu" type="none">
        <li><a href="../#about-me" onclick="hideSidemenu()">About me</a></li>
        <li><a href="../#experience" onclick="hideSidemenu()">Experience</a></li>
        <li><a href="../#contact" onclick="hideSidemenu()">Contact</a></li>
    </ul>

    <div class="social-media">
        <ul class="list" type="none">
            <li><a href="https://www.linkedin.com/in/sbragamendez/" target="_blank"><i class="fab fa-linkedin fa-xl"></i></a></li>
            <li><a href="https://github.com/sebastianbragam" target="_blank"><i class="fab fa-github fa-xl"></i></a></li>
            <li><a href="https://www.instagram.com/sebastianbragam/" target="_blank"><i class="fab fa-instagram fa-xl"></i></a></li>
        </ul>
    </div>

</div>

<div class="screen hidden" onclick="hideSidemenu()"></div>

<script src="/js/main/partials/sidemenu.js"></script>

