<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Sebastian Braga</title>
	<link rel="stylesheet" href="/css/main/index.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <section id="about-me">

            <%- html %>

        </section>

        <section id="experience">



        </section>

        <section id="contact">



        </section>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>