/* Eliminating link aspect */

footer a {
    color: #163172;
    text-decoration: none;
    font-weight: bold;
}

footer p {
    color: #191BA9;
    text-decoration: none;
    font-weight: 600;
}

footer {
    padding: 10px;
    padding-inline: 20px;
    width: 100%;
    background-color: #C1EAF2;
    justify-content: center;
    margin-top: auto;
}

footer div.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
}

footer div.footer p.sign i {
    transition: all 0.5s;
}

footer div.footer p.sign i:hover {
    color: red;
}

footer div.footer div.social-media {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

footer div.footer div.social-media ul.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

footer div.footer div.social-media ul.list li {
    margin-inline: 10px;
}

footer a.back-to-top {
    position: fixed; 
    bottom: 60px; 
    right: 30px; 
    z-index: 50; 
    color: #191BA9;
    background-color: #F7F3F3;
    border: #191BA9 2px solid;
    border-radius: 1rem;
    cursor: pointer;
    padding: 15px;
    transition: all 0.5s;
}

footer a.hidden {
    right: -50px; 
}

footer a.back-to-top:hover {
    color: #F7F3F3;
    background-color: #191BA9;
}


/* Bigger phones */

@media (min-width: 481px) {}


/* Tablets & netbooks */

@media (min-width: 769px) {


    footer a {
        font-size: 16px;
    }

    footer p {
        font-size: 16px;
    }

}


/* Notebooks */

@media (min-width: 1024px) {}