/* Eliminating link aspect */

header a {
    color: #191BA9;
    text-decoration: none;
    font-weight: bold;
}

header {
    position: sticky;
    padding: 20px;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: #C1EAF2;
    justify-content: center;
}

header div.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    max-width: 1280px;
    margin: auto;
}

header div.top-header a.name {
    font-size: 30px;
    padding-right: 10px;
}

header div.top-header div.navbar {
    display: flex;
    align-items: center;
}

header div.top-header div.navbar ul.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-inline: 15px;
}

header div.top-header div.navbar ul.nav-menu li {
    padding-inline: 5%;
}

header div.top-header div.navbar ul.nav-menu li {
    white-space: nowrap;
}

header div.top-header div.side-btn {
    display: none;
}


/* Phones */ 

@media (max-width: 800px) {

    * {
        font-size: 14px;
    }

    h1 {
        font-size: 2em;
    }

    header div.top-header div.navbar ul.nav-menu {
        display: none;
    }

    header div.top-header div.side-btn {
        align-self: center;
        display: block;
    }

    header div.top-header div.side-btn a {
        text-align: center;
        color: black;
        cursor: pointer;
    }

    header div.top-header div.side-btn a i {
        font-size: 1.5em;
        font-weight: bold;
    }
    
}