/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 18px;
}


/* Eliminating link aspect */

body a {
    color: #191BA9;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
}

body a:hover {
    color: #5CC2F2;
}


/* Main settings */

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F7F3F3;
}

body.menu-open {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 30px;
    max-width: 1280px;
    z-index: 1;
    margin-inline: auto;
}

section {
    scroll-margin-top: 90px;
    padding-top: 10px;
    padding-bottom: 30px;
}

h1 {
    color: #191BA9;
    font-size: 2.25em;
    margin-top: 10px;
    margin-bottom: 16px;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #191BA9;
}

h2 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 16px;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #D6E4F0;
}

li {
    list-style: none;
}


/* Experience section */

section.experience div.experience {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    height: 400px;
}

section.experience div.experience div.list {
    width: 20%;
    border: solid 2px #191BA9;
    border-radius: 0.375rem;
}

section.experience div.experience div.list ul li {
    text-align: center;
    padding: 7px;
}

section.experience div.experience div.list ul li.selected {
    color: white;
    background-color: #191BA9;
}

section.experience div.experience div.list ul li:hover {
    color: white;
    background-color: #191BA9;
    cursor: pointer;
}

section.experience div.experience div.description {
    width: 77%;
    padding: 10px;
    border: solid 2px #191BA9;
    border-radius: 0.375rem;
}

section.experience div.experience div.hidden {
    display: none;
}

section.experience div.experience div.description p.title {
    font-size: 1.1em;
    font-weight: bold;
    padding: 3px;
}

section.experience div.experience div.description p.dates {
    font-style: italic;
    padding: 3px;
    color: rgb(99, 99, 99);
}

section.experience div.experience div.description p.summary-text {
    padding: 3px;
}

section.experience div.experience div.description ul.summary-list {
    padding: 3px;
}


/* Phones */ 

@media (max-width: 800px) {

    * {
        font-size: 14px;
    }

    h1 {
        font-size: 2em;
    }

    header div.top-header div.navbar ul.nav-menu {
        display: none;
    }

    section.experience div.experience {
        display: flex;
        flex-direction: column;
    }

    section.experience div.experience div.list {
        width: 100%;
        overflow-x: auto;
    }

    section.experience div.experience div.list ul {
        display: flex;
        flex-direction: row;
        width: 200px;
    }

    section.experience div.experience div.list ul li {
        display: inline-block;
    }


    section.experience div.experience div.description {
        width: 100%;
        height: 78%;
    }
    
}


/* Custom scrollbar */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}