/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 18px;
    scroll-behavior: smooth;
}


/* Eliminating link aspect */

body a {
    color: #191BA9;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
}

body a:hover {
    color: #5CC2F2;
}


/* Main settings */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F7F3F3;
}

body.menu-open {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 30px;
    max-width: 1280px;
    z-index: 1;
    margin-inline: auto;
}

section {
    scroll-margin-top: 90px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#contact {
    scroll-margin-top: 90px;
}

h1 {
    color: #191BA9;
    font-size: 2.25em;
    margin-top: 10px;
    margin-bottom: 16px;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #191BA9;
    width: 40%;
}

h2 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 16px;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #D6E4F0;
}

li {
    list-style: none;
}


/* About me section */

section.about-me div.top {
    display: flex;
    flex-direction: row;
}

section.about-me div.top div.text {
    width: 65%;
}

section.about-me div.top div.technologies-bottom {
    display: none;
}

section.about-me div.top div.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    padding-top: 30px;
    padding-left: 30px;
}

section.about-me div.top div.images img {
    max-width: 50%;
    height: auto;
    width: auto;
    object-fit: contain;
    padding: 5px;
}

section.about-me div.top div.images img.img1 {
    align-self: flex-end;
}

section.about-me div.top div.images img.img2 {
    width: 40%;
    align-self: flex-end;
}

section.about-me div.top div.images img.img3 {
    align-self: flex-start;
    width: 45%;
}

section.about-me div.top div.images img.img4 {
    align-self: flex-start;
}

section.about-me div.contact p.social {
    font-weight: bold;
}

section.about-me div.contact p.social a {
    font-weight: bold;
}

section.about-me div.contact div.buttons {
    text-align: center;
    margin-top: 20px;
}

section.about-me div.contact div.buttons a.button {
    cursor: pointer;
    color: #191BA9;
    font-weight: 500;
    margin-inline: 10px;
    padding: 10px;
    border: 2px #191BA9 solid;
    border-radius: 0.375rem;
    transition: all 0.3s;
}

section.about-me div.contact div.buttons a.button:hover {
    background-color: #191BA9;
    color: #F7F3F3;
}


/* Experience section */

section.experience div.experience {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    height: 400px;
}

section.experience div.experience div.list {
    width: 20%;
    border: solid 2px #191BA9;
    border-radius: 0.375rem;
}

section.experience div.experience div.list ul li {
    font-weight: 600;
    text-align: center;
    padding: 7px;
}

section.experience div.experience div.list ul li.selected {
    color: white;
    background-color: #191BA9;
}

section.experience div.experience div.list ul li:hover {
    color: white;
    background-color: #191BA9;
    cursor: pointer;
}

section.experience div.experience div.description {
    width: 77%;
    padding: 10px;
    border: solid 2px #191BA9;
    border-radius: 0.375rem;
}

section.experience div.experience div.hidden {
    display: none;
}

section.experience div.experience div.description p.title {
    font-size: 1.1em;
    font-weight: bold;
    padding: 3px;
}

section.experience div.experience div.description p.dates {
    font-style: italic;
    padding: 3px;
    color: rgb(99, 99, 99);
}

section.experience div.experience div.description p.summary-text {
    padding: 3px;
}

section.experience div.experience div.description ul.summary-list {
    padding: 3px;
}


/* Section projects */

section.projects {
    display: flex;
    flex-direction: column;
}

section.projects div.project {
    margin-block: 15px;
    width: 80%;
}

section.projects div.right {
    align-self: flex-end;
}

section.projects div.project p.title {
    padding-block: 7px;
    margin-block: 5px;
}

section.projects div.project p.right {
    text-align: right;
}

section.projects div.project p.title a {
    font-size: 1.5em;
    color: black;
    transition: all 0.5s;
}

section.projects div.project p.title a i {
    vertical-align: middle;
}

section.projects div.project p.title a:hover {
    color: #191BA9;
}

section.projects div.project p.text {
    background-color: #C1EAF2;
    padding: 10px;
    border-radius: 0.375rem;
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
}

section.projects div.project p.text a {
    color: black;
    transition: all 0.5s;
}

section.projects div.project p.text a:hover {
    color: #191BA9;
}

section.projects div.project ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

section.projects div.project ul li {
    font-size: 0.75em;
    font-weight: 600;
    margin-top: 1%;
    margin-right: 1%;
    padding: 5px;
    background-color: #C1EAF2;
    border-radius: 0.375rem;
}

section.projects div.project ul.right {
    justify-content: right;
}

section.projects div.project ul.right li {
    margin-right: 0%;
    margin-left: 1%;
}


/* Phones */

@media (max-width: 800px) {

    * {
        font-size: 14px;
    }

    h1 {
        font-size: 2em;
    }

    header div.top-header div.navbar ul.nav-menu {
        display: none;
    }


    /* About me section */

    section.experience div.experience {
        height: 550px;
    }

    section.about-me div.top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.about-me div.top div.text {
        width: 100%;
    }

    section.about-me div.top div.text div.technologies-top {
        display: none;
    }

    section.about-me div.top div.images {
        width: 75%;
    }

    section.about-me div.top div.technologies-bottom {
        display: block;
    }

    section.about-me p.social {
        font-size: 16px;
    }

    section.about-me p.social a {
        font-size: 16px;
    }


    /* Experience section */

    section.experience div.experience {
        display: flex;
        flex-direction: column;
    }

    section.experience div.experience div.list {
        width: 100%;
        overflow-x: auto;
    }

    section.experience div.experience div.list ul {
        display: flex;
        flex-direction: row;
        width: 200px;
    }

    section.experience div.experience div.list ul li {
        display: inline-block;
    }

    section.experience div.experience div.description {
        width: 100%;
        height: 78%;
    }

}


/* Custom scrollbar */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}